{
  "extends": [
    "canonical",
    "canonical/jsdoc",
    "canonical/regexp",
    "canonical/react",
    "canonical/typescript",
    "canonical/prettier"
  ],
  "plugins": ["unused-imports"],
  "ignorePatterns": ["dist", ".*.cjs", ".*.mjs", "vite.config.ts", "vite-env.d.ts"],
  "rules": {
    "unused-imports/no-unused-imports": "error",
    "import/no-unassigned-import": ["error", { "allow": ["**/*.css"] }]
  }
}
